{% extends "layout.html" %}
{% block title %}About Developer{% endblock %}
{% block leftbar %}
  <section class="about-section gameStats" >
    <img src="/static/images/andrea.jpg" alt="designer">
    <h1>Andrea Wayte</h1>
    <a href="http://www.andreawayte.com" target="_blank">Portfolio Website</a>
    <hr>
    <p>Web Developer (in training)</p>
    <p>Former middle school science teacher</p>
    <p>game enthusiast</p>
    <p>science nerd</p>
  </section>
{% endblock %}
{% block gameBody %}
  <main id="game-area">
    <section class='about-content'>
      <p> I created this game as a project while learning web development, and I wanted the game to have a learning aspect to it.
        During the game, you learn properties about the elements as well as reactions that can occur between them.
        If you pay attention to detail, you will notice the colors of the elements are not random, they are colored based on which
        group they belong to: Alkali metals, alkaline metals, transition metals, non metals, halogens, noble gases, actinides and lanthanides.
      <hr>
      <p>The goal of the game is to find the matching elements, but beware, chemical reactions may occur when you click two different elements!</p>
      <p>You lose life if you create the hydrochloric acid, HCl</p>
      <p>The leaderboard displays the longest connsecutive winning streaks. </p>
      <hr>
      <h3>Front End Technologies</h3>
      <p>HTML, CSS, JavaScript, jQuery</p>
      <h3>Back End Technologies</h3>
      <p>Python, Flask, SQLite3, Jinja</p>
  </section>
  </main>
{% endblock %}
