{% extends "layout.html" %} {% block title %}Game{% endblock %} {% block head %}
<script src="{{ url_for('static', filename='main.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='Game.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='Card.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='CuriumCountdown.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='GameStats.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='Cow.js')}}" type="text/javascript"></script>
{% endblock %}

{% block gamephrase %} 

<div class="game-actions">
    <strong>
      <h3>Pick a Card</h3>
    </strong>
  </div>
  
  {% endblock %} 

{% block leftbar %}
<section class="gameStats">
  <div>
    <h2>Stats</h2>
    <hr>
    <div class='lives'>
      <img src="{{ url_for('static', filename='images/heart.png') }}" alt="heart" class="lifeLeft1">
      <img src="{{ url_for('static', filename='images/heart.png') }}" alt="heart" class="lifeLeft2">
      <img src="{{ url_for('static', filename='images/heart.png') }}" alt="heart" class="lifeLeft3">
    </div>
    <hr>
    <h3 class="games-played">
      <p class="label">Games Won:
        <span class="value"></span>
      </p>
    </h3>
    <h3 class="attempts">
      <p class="label">Attempts:
        <span class="value">0</span>
      </p>
  </h3>
  <h3 class="accuracy">
      <p class="label">Accuracy:
        <span class="value">0%</span>
      </p>
  </h3>
    <hr>
    <h3 class="diamonds">
      <img class='resource' src="{{ url_for('static', filename='images/diamond.png') }}" alt="diamonds"> x
      <span></span>

    </h3>
    <h3 class="salt">
      <img class='resource' src="{{ url_for('static', filename='images/salt.png') }}" alt="salt">x
      <span></span>
    </h3>
    <h3 class="gold">
      <img class='resource' src="{{ url_for('static', filename='images/gold.png') }}" alt="diamonds"> x
      <span></span>
    </h3>
    <hr>

    <div class="cow">
      <img class="methane" src="{{ url_for('static', filename='images/cow.png') }}" alt="cow">
      <img class="methaneGas hidden" src="{{ url_for('static', filename='images/StankCloud.gif') }}" alt="methane gase cloud">
    </div>
  </div>
</section>
{% endblock %} {% block gameBody %}
<main id="game-area">
</main>
{% endblock %} {% block rightbar %}

<section class="elementInfo">
  <h2>Element Properties</h2>
  <hr>
  <ul class="elementProperties">
    <li>
        <h3><img src="{{ url_for('static', filename='images/calcium.jpg') }}" alt="calcium"> Calcium</h3>
        <ul class="hidden">
          <li>
            <img src="{{ url_for('static', filename='images/chlorine.jpg') }}" alt="chlorine"> +
            <img src="{{ url_for('static', filename='images/calcium.jpg') }}" alt="calcium">
            <br>Creates a salt! Add 1 salt to your collection!
          </li>
          <li>
            <img src="{{ url_for('static', filename='images/salt.png') }}" alt="salt">
            <br>Use your salt for the cow, it needs salt to get an appetite and produce milk!
          </li>
        </ul>
    </li>
    <li>
      <h3><img src="{{ url_for('static', filename='images/gold.jpg') }}" alt="gold"> Gold</h3>
      <ul class="hidden">
        <li>
          <img src="{{ url_for('static', filename='images/gold.jpg') }}" alt="gold"> +
          <img src="{{ url_for('static', filename='images/gold.jpg') }}" alt="gold">
          <br>Add 1 to your gold pile.
        </li>
        <li>
          <img src="{{ url_for('static', filename='images/gold.png') }}" alt="gold">
          <br>Spend 1 Gold to stop the Curium countdown!
        </li>
      </ul>
    </li>
    <li>
        <h3><img src="{{ url_for('static', filename='images/neon.jpg') }}" alt="neon"> Neon</h3>
        <ul class="hidden">
          <li>
            <img src="{{ url_for('static', filename='images/neon.jpg') }}" alt="neon"> +
            <img src="{{ url_for('static', filename='images/neon.jpg') }}" alt="neon">
            <br>Neon is a noble gas, and does not react with the other elements. However, when you find the pair, the cow will
            light up!
          </li>
        </ul>
      </li>
    <li>
      <h3><img src="{{ url_for('static', filename='images/hydrogen.jpg') }}" alt="hydrogen"> Hydrogen</h3>
      <ul class="hidden">
        <li>
          <img src="{{ url_for('static', filename='images/chlorine.jpg') }}" alt="chlorine"> +
          <img src="{{ url_for('static', filename='images/hydrogen.jpg') }}" alt="hydrogen">
          <br>Hydrochloric Acid! The acid burns you! Lose one life!
        </li>
        <li>
            <img src="{{ url_for('static', filename='images/hydrogen.jpg') }}" alt="hydrogen"> +
            <img src="{{ url_for('static', filename='images/oxygen.jpg') }}" alt="oxygen">
            <br>You create Hydrogen Perioxide! The top left corner will create H2O2, so you can easily match Hydrogen and Oxygen
            with their pairs!
        </li>
        <li>
          <img src="{{ url_for('static', filename='images/hydrogen.jpg') }}" alt="hydrogen"> +
          <img src="{{ url_for('static', filename='images/carbon.jpg') }}" alt="carbon">
          <br>You create CH4, Methane, a greenhouse gas! Nothing happens to the board, but keep an eye on the cow...
        </li>
      </ul>
    </li>
    <li>
      <h3><img src="{{ url_for('static', filename='images/carbon.jpg') }}" alt="carbon"> Carbon</h3>
      <ul class="hidden">
        <li>
          <img src="{{ url_for('static', filename='images/carbon.jpg') }}" alt="carbon"> +
          <img src="{{ url_for('static', filename='images/hydrogen.jpg') }}" alt="hydrogen">
          <br>You create CH4, Methane! Nothing happens to the board, but keep an eye on the cow...
        </li>
        <li>
          <img src="{{ url_for('static', filename='images/carbon.jpg') }}" alt="carbon"> +
          <img src="{{ url_for('static', filename='images/carbon.jpg') }}" alt="carbon">
          <br>You created a diamond!
        </li>
        <li>
          <img src="{{ url_for('static', filename='images/diamond.png') }}" alt="diamond">
          <br>Use a diamond to get earn 1 life.
        </li>
      </ul>
    </li>
    <li>
      <h3> <img src="{{ url_for('static', filename='images/oxygen.jpg') }}" alt="oxygen"> Oxygen</h3>
      <ul class="hidden">
        <li>
          <img src="{{ url_for('static', filename='images/oxygen.jpg') }}" alt="oxygen"> +
          <img src="{{ url_for('static', filename='images/hydrogen.jpg') }}" alt="hydrogen">
          <br>The top left corner will create H2O2, so you can easily match Hydrogen and Oxygen with their pairs!
        </li>
      </ul>
    </li>
    <li>
        <h3><img src="{{ url_for('static', filename='images/sodium.jpg') }}" alt="sodium"> Sodium</h3>
        <ul class="hidden">
          <li>
            <img src="{{ url_for('static', filename='images/chlorine.jpg') }}" alt="chlorine"> +
            <img src="{{ url_for('static', filename='images/sodium.jpg') }}" alt="sodium">
            <br>Creates a salt! Add 1 salt to your collection!
          </li>
          <li>
            <img src="{{ url_for('static', filename='images/salt.png') }}" alt="salt">
            <br>Use your salt for the cow, it needs Sodium and Chloride to get an appetite and produce milk!
          </li>
        </ul>
      </li>
    <li>
      <h3><img src="{{ url_for('static', filename='images/chlorine.jpg') }}" alt="chlorine"> Chlorine</h3>
      <ul class="hidden">
        <li>
          <img src="{{ url_for('static', filename='images/hydrogen.jpg') }}" alt="hydrogen"> +
          <img src="{{ url_for('static', filename='images/chlorine.jpg') }}" alt="chlorine">
          <br>Hydrochloric Acid! The acid burns you! Lose one life!
        </li>
        <li>
          <img src="{{ url_for('static', filename='images/sodium.jpg') }}" alt="sodium"> +
          <img src="{{ url_for('static', filename='images/chlorine.jpg') }}" alt="chlorine">
          <br>Creates a salt! Add 1 salt to your collection!
        </li>
        <li>
          <img src="{{ url_for('static', filename='images/calcium.jpg') }}" alt="calcium"> +
          <img src="{{ url_for('static', filename='images/chlorine.jpg') }}" alt="chlorine">
          <br>Creates a salt! Add 1 salt to your collection!
        </li>
        <li>
          <img src="{{ url_for('static', filename='images/salt.png') }}" alt="salt">
          <br>Use your salt for the cow, it needs Sodium and Chloride to get an appetite and produce milk!
        </li>
      </ul>

    </li>
    <li>
      <h3><img src="{{ url_for('static', filename='images/curium.jpg') }}" alt="curium"> Curium</h3>
      <ul class="hidden">
        <li>
          <img src="{{ url_for('static', filename='images/curium.jpg') }}" alt="curium"> +
          <img src="{{ url_for('static', filename='images/anyelement.jpg') }}" alt="any other element">
          <br>Curium is highly radioactive! If you click only 1 Curium Card, you have 5 seconds to find the Curium matches or
          else the entire board will shuffle!
        </li>
        <li>
          <img src="{{ url_for('static', filename='images/gold.png') }}" alt="gold">
          <br>Spend 1 Gold to strop the Curium countdown!
        </li>
        <li>
          <img src="{{ url_for('static', filename='images/curium.jpg') }}" alt="curium"> +
          <img src="{{ url_for('static', filename='images/curium.jpg') }}" alt="curium">
          <br>Find both cards to stop the Curium countdown!
        </li>
      </ul>
    </li>
  </ul>

</section>
{% endblock %}
{% block modal %}
<h1 class="countDown"></h1>

<div id="modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="content-text">
        <img src={{ url_for('static', filename='images/caffeine.png') }} alt="molecule">
        <h1>End of Game</h1>
        <a href="{{ url_for('game') }}">Play Again</a>
    </div>
  </div>
</div>
{% endblock %}

