<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Memory Match</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Oswald|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    {% block head %} {% endblock %}
</head>

<body>
    <header>
        <div class="title">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Caffeine_molecule.png" alt="molecule">
            <h1>Element Memory Match Game</h1>
        </div>
        <ul>
            <li>
                <a href="{{ url_for('main') }}">Instructions</a>
            </li>
            <!-- <li>
                <a href="{{ url_for('.game') }}">Game</a>
            </li>
            <li>
                <a href="{{ url_for('.about') }}">About</a>
            </li> -->
        </ul>
    </header>
    <main class="game-area-full">
        {% block leftbar %} {% endblock %} {% block gameBody %} {% endblock %} {% block rightbar %} {% endblock %}
    </main>
    {% block gamephrase %} {% endblock %} {% block modal %} {% endblock %}
</body>

</html>