<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Heroku Flask Template</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <h1 id="tittle">Heroku Flask Template</h1>
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="https://github.com/vetronus/heroku-flask-template">SOURCE CODE(GitHub)</a></li>
                <li><a href="http://parthsarthee.com/">PARTH SARTHEE(Author)</a></li>
                <li><a href="http://aroxbit.com">AROXBIT(Awesome Indie Startup)</a></li>
            </ul>
        </nav>
        <h2>What is Heroku Flask Template</h2>
        <p>
            Heroku Flask Template is a simple web app programmed in Python-3 using flask micro-framework. It is created for begginers to understand the basics of creating a flask web app and deploying it on the Heroku. It can also be used as a template to create your new flask web apps which can then easily be deployable on Heroku.
        </p><br>
        <h3>You can download this plugin, or modify its source code from <a href="https://github.com/vetronus/heroku-flask-template">GitHub</a></h3>
    </body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Memory Match</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Oswald|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    {% block head %} {% endblock %}
</head>

<body>
    <header>
        <div class="title">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Caffeine_molecule.png" alt="molecule">
            <h1>Element Memory Match Game</h1>
        </div>
    </header>
    <main class="game-area-full">
        {% block leftbar %} {% endblock %} {% block gameBody %} {% endblock %} {% block rightbar %} {% endblock %}
    </main>
    {% block gamephrase %} {% endblock %} {% block modal %} {% endblock %}
</body>

</html>