{% extends "layout.html" %} {% block title %}Winner{% endblock %} {% block sidebars %}
<section class="gameStats">
  <div>
    <h2>Stats</h2>
    <hr>
    <div class='lives'>
      <img src="{{ url_for('static', filename='images/heart.png') }}" alt="heart" class="lifeLeft1">
      <img src="{{ url_for('static', filename='images/heart.png') }}" alt="heart" class="lifeLeft2">
      <img src="{{ url_for('static', filename='images/heart.png') }}" alt="heart" class="lifeLeft3">
    </div>
    <hr>
    <h3 class="games-played">
      <p class="label">Games Won:
        <span class="value">{{ score }}</span>
      </p>
    </h3>
    <h3 class="attempts">
      <p class="label">Attempts:
        <span class="value">0</span>
      </p>
    </h3>
    <h3 class="accuracy">
      <p class="label">Accuracy:
        <span class="value"></span>
      </p>
    </h3>
    <hr>
    <h3 class="diamonds">
      <i class="fa fa-exchange hidden" aria-hidden="true"></i>
      <img src="{{ url_for('static', filename='images/diamond.png') }}" alt="diamonds"> x
      <span>0</span>

    </h3>
    <h3 class="salt">
      <i class="fa fa-exchange hidden" aria-hidden="true"></i>
      <img src="{{ url_for('static', filename='images/salt.png') }}" alt="salt">x
      <span>0</span>
    </h3>
    <h3 class="gold">
      <i class="fa fa-exchange hidden" aria-hidden="true"></i>
      <img src="{{ url_for('static', filename='images/gold.png') }}" alt="diamonds"> x
      <span>0</span>
    </h3>
    <hr>

    <div class="cow">
      <img class="methane" src="{{ url_for('static', filename='images/cow.png') }}" alt="cow">
      <img class="methaneGas hidden" src="{{ url_for('static', filename='images/StankCloud.gif') }}" alt="methane gase cloud">
    </div>
  </div>
</section>
{% endblock %} {% block gameBody %}
<main id="game-area">

  <h1>WINNER</h1>
</main>
{% endblock %}